@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  color: #222;
}

#message-box::-webkit-scrollbar {
  width: 4px;
  /* width: 0; */
}

#message-box::-webkit-scrollbar-track {
  background: rgb(230, 230, 230);
}

#message-box::-webkit-scrollbar-thumb {
  background: rgb(201, 201, 201);
}
